html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

p {
    position: absolute;
    z-index: 10;
    color: white;
    left: 10px;
    top: 10px;
    margin: 0;
    font-family: sans-serif;
    font-size: 18px;
}

.game {
    position: relative; 
}

#gameOverMessage {
  display: none;
  position: absolute;
  left: 0; top: 0;
  width: 100vw; height: 100vh;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 99;
}
#gameOverMessage span {
  color: white;
  font-size: 60px;
  font-family: sans-serif;
  text-shadow: 2px 2px 8px #000;
}